/* 
    Dates: Fri-7-June-2024, sun-9-June-2024
*/

/*  ############################# */
/*      For the Projects List     */
/*  ############################# */
#projects-content{
    margin:auto;
    
    /* border: 2px solid red; */
}

#projects-content .project_details:nth-child(n)
{
    background-color: var(--bgColorMain);
}

#projects-content .project_details:nth-child(2n)
{
    background-color: var(--bgColorRel2);
}

/* #projects-content h2 */
#projects-content h2
{
    text-align: left;
    /* border: 2px solid royalblue; */
}

#projects-content p
{
    padding: 0 1.2%;
    /* text-decoration: none; */
    /* border: 2px solid saddlebrown; */
}

#projects-content div{
    /* margin: auto; */
    padding: auto;
}

#projects-content img{
    width: 95%;
}
    
/* Polaroid-Like */
#projects-content .Project
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .65s;
}

/* For Hover Effects */
#projects-content img:hover
{
    opacity: 0.75;
    /* filter:saturate(7);
    filter:sepia(7); */
    filter:drop-shadow(5px 5px 15px maroon);
}


/* Make every div have grid display */
#projects-content div.projects_list
{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
#projects-content div.projects_list div:nth-child(n)
{
    background-color: var(--bgColorRel1);
}

#projects-content div.projects_list div:nth-child(2n)
{
    background-color: var(--bgColorRel2);        
}
/* For every project in the grid */
#projects-content div.projects_list div
{
    margin: 2.5%;
    padding: 1.5%;
    text-align: center;
    
    /* border: 2px solid purple; */
}


/*  ################################## */
/*    For the Each Project's Details   */
/*  ################################## */

#project-content
{
    
}


/* For Relative Colouring */
/* #project-content p:nth-child(n)
{
    background-color: var(--bgColorRel1);
}
#project-content p:nth-child(2n)
{
    background-color: var(--bgColorMain);
} */


#project-content h2
{
    text-align: center;
    margin: 0.25%;
}

#project-content h3
{
    font-weight: var(--fontWeightSubheading);
}


#project-content div{
    margin: auto;
}


#project-content div#images
{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    justify-items: center;
    gap: 0.25%;
}

#project-content #main_image
{
    text-align: center;
}

#project-content div#main_image img
{
    width: 90%;
    /* padding: auto; */
}


#project-content div#images img
{
    width: 95%;
}
